<html>
<head>
    <title>Register new User</title>
</head>
<body>
    <div>
        <form  th:with="create=1" th:action="@{/register}" method="post" th:object="${registerForm}">
            <div>
                用户名
                <input id="username" type="text" th:field="*{username}" name="username" />
            </div>

            <div>
                密码
                <input id="password" type="password" th:field="*{password}" name="password" />
            </div>

            <div>
                <button name="draft" value="true" type="submit" class="btn btn-large">注册</button>
            </div>
        </form>
    </div>
</body>
</html>