<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="htmlhead">
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="renderer" content="webkit" />
        <title >标题</title>
    </head>

    <body>
        <div th:fragment="navbar"  class="wrapper"  role="navigation">
            <div th:replace="fragments/header :: header">Header</div>
            <div th:replace="fragments/left :: left">left</div>
            <div th:replace="fragments/sidebar :: sidebar">sidebar</div>
            <div layout:fragment="content" id="content" ></div>
            <div th:replace="fragments/footer :: footer">footer</div>
        </div>
    </body>

</html>